<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celeb/celeb-create">Add a new celebrity</a>
<a href="/celeb/celebrities">List of celebrities</a>
<a href="/mov/movie-create">Add a new movie</a>
<a href="/mov/movies">List of movies</a>